<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Wellcome to the text analyzer. Enter your text below:</h1><br>
    <form action='/analyze-page' method="get">
        <textarea name="f_text" style="height: 100px; width: 630px;"></textarea><br><br>
        <input type="checkbox" name="remove_punctuation"><label>Remove Punctuations</label><br><br>
        <input type="checkbox" name="uppercase"><label>Uppercase</label><br><br>
        <button>Submit Text</button>
    </form>
</body>
</html>